@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/montserrat/Montserrat-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/montserrat/Montserrat-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/montserrat/Montserrat-Medium.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/raleway/Raleway-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/raleway/Raleway-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/raleway/Raleway-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/raleway/Raleway-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/raleway/Raleway-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    color: #ffffff;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.header {
    background-image: url(../img/bg_photo_11949.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    text-decoration: none;
    color: #fff;
    margin: 0 25px 0 0;
}

.header-logo-svg {
    fill: currentColor;
}

.header-logo-txt {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-weight: 400;
    text-align: right;
    letter-spacing: -0.04em;
    font-style: normal;
}

.header-logo:hover {
    color: #998675;
}

.header-logo:active {
    color: #fff;
}

.header-wrp {
    height: 96px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0 auto 285px auto;
    align-items: center;
}

.nbs-wrp {
    display: flex;
}

.search-icon-form__label {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    outline: none;
    background-image: url('../img/icon_search_12272.png');
    border: 0;
    margin: 0 0 0 28px;
    align-items: center;
    display: block;
    padding: 0;
}

.search-icon-form {
    width: 24px;
    height: 24px;
    margin: 0 0 0 28px;
    position: relative;
}

.search-icon-form__input {
    width: 0;
    min-height: 0;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 40px;
    left: -150px;
    color: #fff;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    text-transform: capitalize;
}

.search-icon-form__input:focus {
    width: 200px;
    min-height: 20px;
    transition: width 1s ease;
    border-bottom: 2px solid #fff;
}

.mobile-site {
    display: none;
}

.header-menu-link {
    font-family: 'Montserrat',
        sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    color: #fff;
    margin: 0 30px 0 0;
}

.header-menu-link:hover {
    color: #c7b299;
}

.header-menu-link:active {
    color: #fff;
}

.header-menu-link:nth-child(8) {
    margin: 0;
}

.header-btn {
    width: 24px;
    height: 24px;
    outline: none;
    border: 0;
    background-color: transparent;
    margin: 0 0 0 63px;
    padding: 0;
}

.header-btn-img {
    fill: #fff;
}

.header-btn-img:hover {
    fill: #c7b299;
}

.header-btn-img:active {
    fill: #fff;
}

.carusel {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.carusel-wrp {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    position: relative;
    justify-content: space-between;
    margin: 0 auto 327px auto;
}

.carusel-txt {
    width: 50%;
    min-height: 200px;
}

.carusel-txt-h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    display: block;
    text-align: center;
    margin: 0 0 14px 0;
}

.carusel-txt-h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    display: block;
    margin: 0 0 19px 0;
}

.carusel-txt-p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    margin: 0 auto 52px auto;
    max-width: 562px;

}

.btn-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    font-style: normal;
    width: 170px;
    min-height: 53px;
    background-color: #998675;
    border-radius: 3px;
    line-height: 53px;
    margin: 0 auto;
    word-break: break-all;
}

.btn-link:hover {
    background-color: #fff;
    color: #998675;
}

.btn-link:active {
    background-color: #998675;
    color: #fff;
}

.slider-arrow2 {
    display: block;
    width: 40px;
    height: 73px;
    position: relative;
    outline: none;
    border: 0;
    background: transparent;
}

.slider-arrow2:after {
    content: "";
    display: block;
    width: 52px;
    height: 52px;
    border-top: 2px solid #d3c1ad;
    border-right: 2px solid #d3c1ad;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: -25px;
}

.slider-arrow2:hover:after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.slider-arrow2:active:after {
    border-top: 2px solid #998675;
    border-right: 2px solid #998675;
}

.slider-arrow1 {
    display: block;
    width: 40px;
    height: 73px;
    position: relative;
    outline: none;
    border: 0;
    background: transparent;
}

.slider-arrow1:after {
    content: "";
    display: block;
    width: 52px;
    height: 52px;
    border-bottom: 2px solid #d3c1ad;
    border-left: 2px solid #d3c1ad;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: 10px;
}

.slider-arrow1:hover:after {
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}

.slider-arrow1:active:after {
    border-bottom: 2px solid #998675;
    border-left: 2px solid #998675;
}

.carusel-pagination {
    display: flex;
    justify-content: center;
    width: 100%;
}

.carusel-pagination-item {
    display: block;
    margin: 0 5px;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    opacity: 0.5;
    background-color: #ffffff;
}

.carusel-pagination-item:hover {
    opacity: 1;
}

.carusel-pagination-item:active {
    opacity: 0.5;
}

.main-features {
    padding: 89px 80px 149px 80px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 275px;
    margin: 0 33px 0 0;
}

.features-icon {
    display: block;
    margin: 0 auto 20px auto;
    fill: #555555;
}

.features-title {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    font-style: normal;
    text-align: center;
}

.features-txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
    font-style: normal;
    text-align: center;
}

.features:after {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin: 0 auto;
}

.features:hover .features-icon {
    fill: #c7b299;
}

.features:hover .features-title {
    color: #c7b299;
}

.features:hover:after {
    background-color: #c7b299;
}

.realisation {
    width: 100%;
    margin: 0;
    padding: 0 80px 0 80px;
    box-sizing: border-box;
}

.realisation-title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    font-style: normal;
    text-align: center;
    display: block;
    margin: 0 0 24px 0;
}

.realisation-txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    font-style: normal;
    text-align: center;
    max-width: 757px;
    margin: 0 auto;
}

.realisation-backgrounds {
    width: 1220px;
    height: 484px;
    margin: 40px auto 0 auto;
    background-image: url(../img/browser_center_10768.png),
        url(../img/browser_left_10769.png),
        url(../img/browser_right_10770.png);
    background-repeat: no-repeat;
    background-position: bottom center, bottom left, bottom right;
}

.realisation-backgrounds:hover {
    background-image: url(../img/browser_left_10769.png), url(../img/browser_right_10770.png);
    background-size: 49.5%, 49.5%;
    background-position: center left, center right;
}

.wordpress {
    background-image: -moz-linear-gradient(0deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
    height: 150px;
    width: 100%;
    margin: 0;
    background-color: #f4f5f8;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.wordpress-title {
    margin: 0 0 8px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    display: block;
}

.wordpress-title-waxom {
    color: #c7b299;
}

.wordpress-txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
    font-style: normal;
}

.wordpress-btn {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    outline: none;
    border: none;
    font-family: 'Raleway',
        sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    font-style: normal;
    width: 170px;
    height: 50px;
    background-color: #998675;
    border-radius: 3px;
    line-height: 23px;
    word-break: break-all;
}

.wordpress-btn:hover {
    background-color: #ffffff;
    color: #998675;
}

.wordpress-btn:active {
    background-color: #998675;
    color: #ffffff;
}

.latest {
    padding: 80px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

.latest-title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    display: flex;
    justify-content: center;
    text-align: center;
}

.latest-txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 24px auto 0 auto;
    max-width: 757px;
    text-align: center;
}

.latest-nav {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.latest-nav-btn {
    width: 120px;
    min-height: 32px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #8c8c8c;
    outline: none;
    background-color: transparent;
    margin: 0 10px 0 0;
    word-break: break-all;
}

.latest-nav-btn:nth-child(5) {
    margin: 0 0 0 0;
}

.latest-nav-btn:hover {
    background-color: #998675;
    color: #ffffff;
}

.latest-nav-btn:active {
    background-color: #ffffff;
    color: #998675;
}

.latest-cart {
    min-height: 337px;
    box-sizing: border-box;
    width: 370px;
    position: relative;
    margin: 0 30px 30px 0;
}

.latest-cart-wrp {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.latest-cart:hover .latest-cart-btn-link {
    display: block;
}

.latest-cart:hover .latest-cart-btn-search {
    display: block;
}

.latest-cart:hover .latest-cart-btn-link:hover {
    fill: #c7b299;
}

.latest-cart:hover .latest-cart-btn-link:active {
    fill: #ffffff;
}

.latest-cart:hover .latest-cart-btn-search:hover {
    fill: #c7b299;
}

.latest-cart:hover .latest-cart-btn-search:active {
    fill: #ffffff;
}

.latest-cart:hover .latest-cart-bg {
    filter: brightness(50%);
}

.latest-cart:hover .latest-cart-bg-second {
    filter: brightness(100%);
}

.latest-cart-btn-link,
.latest-cart-btn-search {
    width: 26px;
    height: 26px;
    display: none;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 30%;
    fill: #fff;
}

.latest-cart-btn-link {
    left: 40%;
}

.latest-cart-btn-search {
    right: 40%;
}

.latest-cart-bg {
    height: 237px;
    width: 370px;
    display: block;
}

.latest-cart-bg-second {
    filter: brightness(150%);
    height: 237px;
    width: 370px;
    display: block;
}

.latest-cart-wrp-txt {
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
}

.latest-cart-wrp-txt:before {
    content: "";
    border: 15px solid transparent;
    border-bottom: 10px solid #ffffff;
    position: absolute;
    top: -25px;
    left: 19px;

}

.latest-cart-title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;
    font-weight: 500;
    color: #c7b299;
}

.latest-cart-txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    font-style: normal;
    color: #d1d1d1;
    margin: 14px 0 0 0;
}

.latest-cart:hover .latest-cart-wrp-txt {
    background-color: #362f2d;
}

.latest-cart:hover .latest-cart-wrp-txt:before {
    border-bottom: 10px solid #362f2d;
}

.latest-cart:hover .latest-cart-bg {
    display: block;
}

.latest-cart:hover .latest-cart-title {
    color: #fff;
}

.latest-cart:hover .latest-cart-txt {
    color: #c7b299;
}

.latest-btn {
    display: flex;
    margin: 60px auto auto auto;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    outline: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    font-style: normal;
    width: 170px;
    height: 50px;
    background-color: #998675;
    border-radius: 3px;
    line-height: 23px;
    word-break: break-all;
}

.latest-btn:hover {
    background-color: #816a56;
    color: #fff;
}

.latest-btn:active {
    background-color: #998675;
    color: #fff;
}

.video {
    margin: 0;
    width: 100%;
    height: 705px;
}

.video-item {
    object-fit: cover;
    position: absolute;
}

.video-txt-wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    position: relative;
    box-sizing: border-box;
    left: 630px;
    top: 250px;
}

.video-txt-btn {
    margin: 0 0 44px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    outline: none;
    border: 0;
}

.video-btn-img {
    fill: #ffffff;
}

.video-txt-title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    display: block;
    margin: 0 0 29px 0;
}

.video-txt-p {
    margin: 0 0 40px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
    font-style: normal;
    text-align: center;
}

.video-txt-time {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #c7b299;
    font-style: normal;
}

.video-item-mobile {
    display: none;
}

.excellent {
    padding: 80px 80px 0 80px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.excellent-img {
    margin: 0 29px 0 0;
    width: 423px;
    height: 616px;
}

.excellent-txt-wrp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 680px;
}

.excellent-title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    font-style: normal;
}

.excellent-img-mobile {
    display: none;
}

.excellent-txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    font-style: normal;
}

.excellent-list-li {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    color: #8c8c8c;
    font-style: normal;
    margin: 0 0 12px 0;
    list-style-type: none;
    position: relative;
}

.excellent-list {
    margin: 45px 0 0 50px;
}

.excellent-list-li:before {
    position: absolute;
    content: "";
    width: 21px;
    height: 21px;
    background-color: #c7b299;
    top: 5px;
    left: -40px;
    border-radius: 50%;
}

.excellent-list-li:after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    transform: rotate(45deg);
    position: absolute;
    top: 11px;
    left: -35px;
}

.main-amount {
    width: 100%;
    min-height: 300px;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    padding: 69px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 145px;
    margin: 0 80px 0 0;
}

.amount:last-child {
    margin: 0;
}

.amount-img {
    fill: #c7b299;
}

.amount-number {
    display: block;
    margin: 30px 0 21px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    line-height: 36px;
    font-weight: 200;
    color: #ffffff;
    font-style: normal;
}

.amount-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #c7b299;
    font-style: normal;

}

.amount:after {
    content: '';
    display: block;
    width: 35px;
    height: 2px;
    background-color: #f1eee9;
    margin: 60px auto auto auto;
}

.main-posts {
    display: flex;
    padding: 80px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    flex-direction: column;
}

.main-posts-title {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    font-style: normal;
    width: 100%;
    text-align: center;
}

.main-posts-txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    font-style: normal;
    margin: 30px auto 40px auto;
    text-align: center;
    display: block;
    max-width: 760px;
}

.posts-wrp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.posts {
    min-height: 400px;
    width: 370px;
    position: relative;
    margin: 0 30px 0 0;
}

.posts-date {
    position: absolute;
    top: 20px;
    left: 20px;
}

.posts-date-d {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 35px;
    font-weight: 300;
    color: #ffffff;
    font-style: normal;
    width: 50px;
    height: 35px;
    background-color: #363636;
    border-radius: 3px 3px 0px 0px;
    display: block;
    text-align: center;
}

.posts-date-m {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff;
    width: 50px;
    height: 25px;
    background-color: #252525;
    border-radius: 0px 0px 3px 3px;
    display: block;
    text-align: center;
}

.posts:hover .posts-date-d {
    background-color: #c7b299;
}

.posts:hover .posts-date-m {
    background-color: #a48d72;
}

.posts:hover .posts-bg-second {
    filter: brightness(100%);
    height: 220px;
    width: 370px;
    display: block;
}

.posts-bg {
    height: 220px;
    width: 370px;
    display: block;
}

.posts-bg-second {
    filter: brightness(150%);
}

.posts-wrp-txt {
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
}

.posts-title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #555555;
    font-style: normal;
}

.posts-txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #8c8c8c;
    font-style: normal;
}

.posts-a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #c7b299;
    font-style: normal;
    text-decoration: none;
    position: relative;
    display: block;
}

.posts-a-img {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 85px;
    fill: #c7b299;
}

.posts-a:hover {
    color: #ffffff;
}

.posts:hover .posts-a:active .posts-a-img {
    fill: #c7b299;
}

.posts-a:active {
    color: #c7b299;
}

.posts-a:hover .posts-a-img {
    fill: #ffffff;
}

.posts:hover .posts-wrp-txt {
    background-color: #362f2d;
}

.posts:hover .posts-wrp-txt:before {
    border-bottom: 10px solid #362f2d;
}

.posts:hover .posts-bg {
    display: block;
    filter: brightness(50%);
}

.posts:hover .posts-title {
    color: #c7b299;
}

.posts:hover .posts-txt {
    color: #ffffff;
}

.posts-arrow-wrp {
    display: flex;
    justify-content: center;
}

.posts-arrow1 {
    outline: none;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    background-color: transparent;
    width: 22px;
    height: 22px;
    position: relative;
    margin: 0 8px 0 0;
}

.posts-arrow1:before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-bottom: 3px solid #d1d1d1;
    border-left: 3px solid #d1d1d1;
    transform: rotate(45deg);
    position: absolute;
    top: 6px;
    left: 7px;
}

.posts-arrow2:before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-top: 3px solid #d1d1d1;
    border-right: 3px solid #d1d1d1;
    transform: rotate(45deg);
    position: absolute;
    top: 6px;
    left: 5px;
}

.posts-arrow2 {
    position: relative;
    outline: none;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    background-color: transparent;
    width: 22px;
    height: 22px;
}

.posts-arrow1:hover {
    border: 1px solid #c7b299;
}

.posts-arrow1:hover:before {
    border-bottom: 3px solid #c7b299;
    border-left: 3px solid #c7b299;
}

.posts-arrow2:hover {
    border: 1px solid #c7b299;
}

.posts-arrow2:hover:before {
    border-top: 3px solid #c7b299;
    border-right: 3px solid #c7b299;
}

.posts-arrow1:active {
    border: 1px solid #d1d1d1;
}

.posts-arrow1:active:before {
    border-bottom: 3px solid #d1d1d1;
    border-left: 3px solid #d1d1d1;
}

.posts-arrow2:active {
    border: 1px solid #d1d1d1;
}

.posts-arrow2:active:before {
    border-top: 3px solid #d1d1d1;
    border-right: 3px solid #d1d1d1;
}

.company {
    background-image: url(../img/bg_photo_11122.png);
    min-height: 489px;
    max-width: 1920px;
    padding: 140px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.company-img {
    margin: 0 90px 0 0;
}

.company-img-1 {
    width: 210px;
    height: 127px;
}

.company-img-2 {
    width: 210px;
    height: 210px;
}

.company-img-3 {
    width: 210px;
    height: 130px;
}

.company-img-4 {
    width: 210px;
    height: 164px;
}

.pre-footer {
    max-width: 1920px;
    min-height: 508px;
    background-color: #191919;
    padding: 94px 94px 81px 94px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.pre-footer-waxom {
    width: 265px;
    margin: 0 43px 0 0;
}

.pre-footer-waxom-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    color: #fff;
    margin: 0 25px 0 0;
    text-decoration: none;
}

.pre-footer-waxom-logo-svg {
    fill: #ffffff;
}

.pre-footer-waxom-logo:hover .pre-footer-waxom-logo-txt {
    color: #998675;
}

.pre-footer-waxom-logo:active .pre-footer-waxom-logo-txt {
    color: #ffffff;
}

.pre-footer-waxom-logo:hover .pre-footer-waxom-logo-svg {
    fill: #998675;
}

.pre-footer-waxom-logo:active .pre-footer-waxom-logo-svg {
    fill: #ffffff;
}

.pre-footer-waxom-logo-txt {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-weight: 400;
    text-align: right;
    letter-spacing: -0.04em;
    font-style: normal;
}

.pre-footer-waxom-txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #555555;
    font-style: normal;
    margin: 29px 0 33px 0;
}

.pre-footer-waxom-a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #d1d1d1;
    text-decoration: none;
    font-style: normal;
    text-decoration: none;
    position: relative;
    display: block;
}

.pre-footer-waxom-a-img {
    position: absolute;
    top: 5px;
    left: 85px;
    fill: #d1d1d1;
}

.pre-footer-waxom-a:hover .pre-footer-waxom-a-img {
    fill: #998675;
}

.pre-footer-waxom-a:hover {
    color: #998675;
}

.pre-footer-waxom-a:active .pre-footer-waxom-a-img {
    fill: #d1d1d1;
}

.pre-footer-waxom-a:active {
    color: #d1d1d1;
}

.pre-footer-resent {
    width: 270px;
    margin: 14px 39px 0 0;
}

.pre-footer-resent-title {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    display: block;
    margin: 0 0 33px 0;
}

.pre-footer-resent-time {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #363636;
    display: block;
    margin: 19px 0 10px 0;
}

.pre-footer-resent-txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    display: block;
    margin: 0 0 21px 0;
}

.pre-footer-resent-a {
    text-decoration: none;
    display: block;
    border-bottom: 2px solid #252525;
}

.pre-footer-resent-a:last-child {
    border: 0;
}

.pre-footer-resent-txt:last-child {
    margin: 0;
}

.pre-footer-resent-a:hover .pre-footer-resent-txt {
    color: #c7b299;
}

.pre-footer-resent-a:hover .pre-footer-resent-time {
    color: #ffffff;
}

.pre-footer-resent-a:active .pre-footer-resent-time {
    color: #363636;
}

.pre-footer-resent-a:active .pre-footer-resent-txt {
    color: #555555;
}

.pre-footer-twitter {
    width: 280px;
    margin: 14px 33px 0 0;
}

.pre-footer-twitter-title {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    font-style: normal;
    display: block;
    margin: 0 0 30px 0;
}

.pre-footer-twitter-txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    font-style: normal;
    display: block;
    margin: 17px 0 0 0;
}

.pre-footer-twitter-time {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #363636;
    font-style: normal;
    display: block;
    margin: 0 0 21px 0;
}

.pre-footer-twitter-txt-wrp {
    margin: 0 0 23px 0;
    border-bottom: 2px solid #252525;
}

.pre-footer-twitter-txt-wrp:last-child {
    border: 0;
}

.pre-footer-twitter-time-last {
    margin: 0;
}

.pre-footer-twitter-txt-word {
    color: #00bff3;
    text-decoration: none;
}

.pre-footer-twitter-txt-word:hover {
    color: #ffffff;
}

.pre-footer-twitter-txt-word:active {
    color: #00bff3;
}

.pre-footer-twitter-txt-word2 {
    color: #959595;
    text-decoration: none;
}

.pre-footer-twitter-txt-word2:hover {
    color: #ffffff;
}

.pre-footer-twitter-txt-word2:active {
    color: #959595;
}

.widget {
    width: 273px;
    min-height: 255px;
    margin: 14px 0 0 0;
}

.widget-title {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    display: block;
    margin: 0 0 26px 0;
}

.post-footer {
    max-width: 1920px;
    min-height: 111px;
    background-color: #111111;
    padding: 45px 30px 52px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.post-footer-links-copy {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    border-right: 1px solid #252525;
}

.post-footer-links-a-waxom {
    text-decoration: none;
    color: #959595;
    margin: 0 12px 0 0;
}

.post-footer-links-a-waxom:hover {
    color: #ffffff;
}

.post-footer-links-a-waxom:active {
    color: #959595;
}

.post-footer-links-a {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    text-decoration: none;
    border-left: 1px solid #252525;
    padding: 0 12px;
    display: block;
}

.post-footer-links:nth-child(2)>.post-footer-links-copy:nth-child(2) {
    border: 0;
    margin: 0 0 0 12px;
}

.post-footer-links-a:hover {
    color: #c7b299;
}

.post-footer-links-a:active {
    color: #555555;
}

.post-footer-links {
    display: flex;
    min-width: 417px;
    justify-content: center;
}

@media (max-width: 576px) {
    .header {
        flex-wrap: wrap;
        position: relative;
        left: 0;
        top: 0;
        min-height: 130px;
    }

    .menu__btn {
        display: flex;
        position: absolute;
        top: 50px;
        right: 30px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 2;
    }

    .mobile-site {
        position: absolute;
        top: 10px;
        right: 0px;
    }

    .mobile-site:before,
    .mobile-site:after,
    .mobile-site:active {
        transition: .3s;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition-duration: .3s;
    }

    .menu__btn {
        display: flex;
        position: absolute;
        top: 50px;
        right: 30px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 2;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition-duration: .3s;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(-85deg);
    }

    #menu__toggle:checked~.menu__btn>span {
        top: 0;
        transform: rotate(42deg);
    }

    #menu__toggle:checked~.header-wrp>.nbs-wrp {
        visibility: visible;
        right: 0;
        height: 460px;
        border-radius: 0;
        opacity: .9;
        position: absolute;
        padding: 5em 42%;
        width: 100px;
        z-index: 1;
    }

    .header-menu-link {
        width: 100%;
    }

    .header-wrp {
        margin: 0;
        height: 60px;
    }

    .header-btn {
        margin: 15px 25px;
    }

    .search-icon-form__label {
        margin: 0 0 0 4px;
    }

    .search-icon-form {
        margin: 0 0 0 4px;
    }

    .nbs-wrp {
        visibility: hidden;
        display: flex;
        flex-wrap: wrap;
        top: 0;
        margin: 0 0 0 0;
        background-color: #333;
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
        justify-content: center;
        height: 0;
        width: 100%;

    }

    .main-features {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1em 1em 1em 1em;

    }

    .features {
        max-width: 45%;
        margin: 0 0 2em 0;
    }

    .latest {
        padding: 0;
    }

    .carusel {
        display: none;
    }

    .realisation {
        display: none;
    }

    .wordpress {
        display: none;
    }

    .latest {
        margin: 0 0 10px 0;
    }

    .latest-nav {
        display: none;
    }

    .latest-cart-wrp {
        display: none;
    }

    .latest-btn {
        display: none;
    }

    .video-item {
        display: none;
        width: 100%;
    }

    .video-txt-wrp {
        left: 35px;
        top: 250px;
    }

    .video-item-mobile {
        object-fit: cover;
        position: absolute;
        display: block;
    }

    .excellent {
        padding: 60px 2% 0 2%;
    }

    .excellent-title {
        text-align: center;
    }

    .excellent-txt {
        padding: 0 30px 30px 30px;
    }

    .excellent-img {
        display: none;
        float: left;
    }

    .excellent-img-mobile {
        display: block;
        max-width: 50%;
        margin: 0 0 0 0;
    }

    .excellent-wrp-mobile {
        display: flex;
        align-items: center;
    }

    .excellent-list {
        font-size: 12px;
        display: block;
        max-width: 50%;
        padding: 0 0 0 20px;
        line-height: 20px;
        box-sizing: border-box;
        margin: 0 0 0 0;
    }

    .main-amount {
        display: none;
    }

    .posts-arrow-wrp {
        display: none;
    }

    .main-posts {
        padding: 80px 80px 0 80px;
    }

    .posts {
        margin: 0 0 20px 0;
    }

    .company {
        min-height: 180px;
        padding: 5%;
    }

    .company-img {
        margin: 0 30px 0 0;
    }

    .company-img-1 {
        margin: 0 30px 0 30px;
        width: 113px;
        height: 73px;
    }

    .company-img-2 {
        width: 102px;
        height: 93px;
    }

    .company-img-3 {
        width: 119px;
        height: 79px;
    }

    .company-img-4 {
        width: 108px;
        height: 85px;
    }

    .pre-footer {
        display: none;
    }

    .post-footer {
        display: flex;
        flex-direction: column;
        padding: 40px 30px 32px 30px;
    }

    .post-footer-links:nth-child(1) {
        margin: 0 0 50px 0;
    }
}